---
import ReactIsland from '../../components/react/ReactIsland'
import SvelteIsland from '../../components/svelte/SvelteIsland.svelte'
---

<h1>
    Astro Islands test
</h1>

This page shows two Astro Islands

<h2>React Island</h2>

<ReactIsland client:load />

<h2>Svelte Island</h2>

<SvelteIsland client:load />
