@tailwind base;
@tailwind components;
@tailwind utilities;

.spotlight-fullscreen-blur {
  @apply fixed flex h-screen w-screen flex-col overflow-hidden bg-black bg-opacity-50 backdrop-blur-sm backdrop-filter;
  z-index: 999998;
}

.spotlight-sidepanel {
  -webkit-app-region: no-drag;
  animation: sidepanel 100ms ease-in;
}

@keyframes sidepanel {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

ul.tree {
  position: relative;
}
ul.tree ul.tree {
  position: static;
}

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree.deep > li > ul {
  margin-left: 8px;
}
ul.tree.deep > li {
  @apply border-primary-400 border-l;
  padding-left: 1rem;
  margin-left: 1rem;
}

ul.tree li:last-child {
  @apply border-0;
}

ul.tree > li:first-child:before {
  display: none;
}

ul.tree.deep > li:before,
ul.tree ul.tree > li:before {
  @apply border-primary-400 border-b;
  position: absolute;
  height: 15px;
  width: 12px;
  content: "";
  display: inline-block;
  margin-left: -16px;
}

ul.tree li:last-child:before {
  @apply border-primary-400 border-l;
}

.tree .node {
  @apply flex items-center gap-x-1 overflow-auto py-1 pl-1;
}

.tree .waterfall {
  @apply border-l-primary-800 bg-primary-950 absolute right-0 h-7 border-l-2 py-1 pl-1;
}

.table-values {
  @apply bg-primary-900 border-collapse text-sm;
}

.table-values tbody th {
  @apply border-primary-950 text-primary-300 w-1/12 border-y px-2 py-1 text-right font-mono font-normal;
}

.table-values tbody td {
  @apply border-primary-950 border-y px-2 py-1;
}

.hydration-error-wrapper pre {
  @apply !text-primary-300;
}

.hydration-error-wrapper td[class^="react-diff"][class$="title-block"] {
  @apply !bg-primary-900;
}

.react-json-view {
  @apply !bg-primary-900 rounded-sm !bg-opacity-50 p-2;
}

.react-json-view .string-value {
  word-break: break-word;
}
input:checked {
  @apply bg-primary-900;
}
input:checked ~ .dot {
  @apply bg-primary-800 translate-x-full;
}

.resizer.is-resizing {
  @apply bg-primary-500;
}
.spotlight-debugger.resizing-column .span-resizer,
.spotlight-debugger.resizing-row .span-resizer {
  @apply bg-primary-500;
  transform: translateX(-2px) !important;
}

.spotlight-debugger.resizing-column,
.spotlight-debugger.resizing-column * {
  cursor: col-resize !important;
}

.spotlight-debugger.resizing-row,
.spotlight-debugger.resizing-row * {
  cursor: row-resize !important;
}

/* custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.primary.700') theme('colors.primary.900');
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.primary.900');
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: theme('colors.primary.700');
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: theme('colors.primary.600');
}

*::-webkit-scrollbar-corner {
  background: theme('colors.primary.900');
}
