@tailwind base;
@tailwind components;
@tailwind utilities;

.spotlight-fullscreen-blur {
  @apply fixed flex h-screen w-screen flex-col overflow-hidden bg-black bg-opacity-50 backdrop-blur-sm backdrop-filter;
  z-index: 999998;
}

.spotlight-debugger {
  @apply from-primary-900 to-primary-950 flex h-full flex-col overflow-hidden rounded-lg bg-gradient-to-br to-20% font-sans text-white shadow-xl;
  margin: 2.5vh;
}

.spotlight-fullscreen {
  @apply relative rounded-none shadow-none;
  margin: 0;
}

.spotlight-sidepanel {
  -webkit-app-region: no-drag;
  animation: sidepanel 100ms ease-in;
}

@keyframes sidepanel {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

ul.tree {
  position: relative;
}
ul.tree ul.tree {
  position: static;
}

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree ul {
  margin-left: 8px;
}
ul.tree li {
  @apply border-primary-400 border-l;
}

ul.tree li:last-child {
  @apply border-0;
}

ul.tree > li:first-child:before {
  display: none;
}

ul.tree > li:before,
ul.tree ul.tree > li:before {
  @apply border-primary-400 border-b;
  position: absolute;
  margin-top: -2px;
  height: 15px;
  width: 12px;
  content: '';
  display: inline-block;
  margin-left: -16px;
}

ul.tree li:last-child:before {
  @apply border-primary-400 border-l;
}

.tree .node {
  @apply flex w-[65%] items-center gap-x-1 overflow-auto py-1 pl-1;
}

.tree .waterfall {
  @apply border-l-primary-800 bg-primary-950 absolute left-[45%] right-0 h-7 border-l py-1 pl-1;
}

.table-values {
  @apply bg-primary-900 border-collapse text-sm;
}

.table-values tbody th {
  @apply border-primary-950 text-primary-300 w-1/12 border-y px-2 py-1 text-right font-mono font-normal;
}

.table-values tbody td {
  @apply border-primary-950 border-y px-2 py-1;
}
