@tailwind base;
@tailwind components;
@tailwind utilities;

.fullscreen-blur {
  @apply fixed flex h-screen w-screen flex-col overflow-auto bg-black bg-opacity-50 backdrop-blur-sm backdrop-filter;
  z-index: 999998;
  padding: 2.5vh;
}

.sentry-debugger {
  @apply from-primary-900 to-primary-950 flex h-full flex-col overflow-auto overflow-x-hidden rounded-lg bg-gradient-to-br to-20% font-sans text-white shadow-xl;
}

/* .sentry-debugger .tree li {
  position: relative;
}
.sentry-debugger .tree li > div > div {
  position: relative;
}

.sentry-debugger .tree li .node::before {
  @apply border-b-2 border-primary-400 border-l-2;

  display: block;
  left: -10px;
  width: 10px;
  content: "";
  margin-top: -13px;
  height: 15px;
}

.sentry-debugger .tree li:first-child .node::before {
}

.sentry-debugger .tree li:last-child .node::before {
} */

ul.tree {
  position: relative;
}
ul.tree ul.tree {
  position: static;
}

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree ul {
  margin-left: 8px;
}
ul.tree li {
  @apply border-primary-400 border-l;
}

ul.tree li:last-child {
  @apply border-0;
}

ul.tree > li:first-child:before {
  display: none;
}

ul.tree > li:before,
ul.tree ul.tree > li:before {
  @apply border-primary-400 border-b;
  position: absolute;
  margin-top: -2px;
  height: 15px;
  width: 12px;
  content: '';
  display: inline-block;
  margin-left: -16px;
}

ul.tree li:last-child:before {
  @apply border-primary-400 border-l;
}

.tree .node {
  @apply flex w-[65%] items-center gap-x-1 overflow-auto py-1 pl-1;
}

.tree .waterfall {
  @apply border-l-primary-800 bg-primary-950 absolute left-[65%] right-0 h-7 border-l py-1 pl-1;
}

.table-values {
  @apply bg-primary-900 border-collapse text-sm;
}

.table-values tbody th {
  @apply border-primary-950 text-primary-300 w-1/12 border-y px-2 py-1 text-right font-mono font-normal;
}

.table-values tbody td {
  @apply border-primary-950 border-y px-2 py-1;
}

/* 
<th className="w-/12 text-left text-primary-300 font-normal font-mono pr-4 py-0.5">
<div className="truncate w-full">{key}</div>
</th>
<td className="py-0.5">
<pre className="whitespace-nowrap font-mono">{value}</pre>
</td> */
