@tailwind base;
@tailwind components;
@tailwind utilities;

.site-title {
  @apply font-raleway text-2xl font-light uppercase tracking-widest text-white;
}

.neon-header {
  @apply font-raleway font-light;
}

header.header {
  @apply bg-black bg-opacity-50 backdrop-blur-sm backdrop-filter;
}

.astro-code {
  @apply rounded-lg;
}
