@import "tailwindcss";

@config "../tailwind.config.mjs";

.site-title {
  @apply font-sans text-2xl font-light uppercase tracking-widest text-white;
}

.neon-header {
  @apply font-sans font-light;
  word-wrap: break-word;
}

header.header {
  @apply bg-black/50 backdrop-blur-xs backdrop-filter;
}

.astro-code {
  @apply rounded-xs;
}
