@tailwind base;
@tailwind components;
@tailwind utilities;

.sentry-trigger {
  @apply fixed font-medium right-2 -bottom-7 px-3 py-2 rounded inline-flex gap-x-2 items-center justify-center opacity-80 hover:opacity-100;
  /* @apply border-indigo-950 bg-indigo-900 text-white uppercase font-light tracking-widest font-raleway text-sm; */

  z-index: 2147483647;
  cursor: pointer;
  /* transform: rotate(-90deg) translateY(16px); */
}
.sentry-trigger:hover {
  @apply -bottom-5;
}

.sentry-trigger span {
  @apply absolute -top-5 rounded py-0.5 px-1.5 text-xs font-medium font-sans;
}

.sentry-debugger {
  @apply fixed inset-0 h-screen w-screen bg-indigo-900 text-white overflow-auto flex flex-col font-sans;

  z-index: 2147483647;
}
/* .sentry-debugger .tree li {
  position: relative;
}
.sentry-debugger .tree li > div > div {
  position: relative;
}

.sentry-debugger .tree li .node::before {
  @apply border-b-2 border-indigo-400 border-l-2;

  display: block;
  left: -10px;
  width: 10px;
  content: "";
  margin-top: -13px;
  height: 15px;
}

.sentry-debugger .tree li:first-child .node::before {
}

.sentry-debugger .tree li:last-child .node::before {
} */

ul.tree {
  position: relative;
}
ul.tree ul.tree {
  position: static;
}

ul.tree,
ul.tree ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.tree ul {
  margin-left: 8px;
}
ul.tree li {
  @apply border-l border-indigo-400;
}

ul.tree li:last-child {
  @apply border-0;
}

ul.tree > li:first-child:before {
  display: none;
}

ul.tree > li:before,
ul.tree ul.tree > li:before {
  @apply border-b border-indigo-400;
  position: absolute;
  margin-top: -2px;
  height: 15px;
  width: 12px;
  content: "";
  display: inline-block;
  margin-left: -16px;
}

ul.tree li:last-child:before {
  @apply border-l border-indigo-400;
}

.tree .node {
  @apply w-[65%] flex items-center gap-x-1 py-1 overflow-auto;
}

.tree .waterfall {
  @apply absolute left-[65%] right-0 h-7 bg-indigo-950 border-l border-l-indigo-800 py-1;
}

.table-values {
  @apply border-collapse text-sm bg-indigo-900;
}

.table-values tbody th {
  @apply font-mono px-2 py-1 text-right font-normal text-indigo-300 w-1/12 border-y border-indigo-950;
}

.table-values tbody td {
  @apply px-2 py-1 border-y border-indigo-950;
}

/* 
<th className="w-/12 text-left text-indigo-300 font-normal font-mono pr-4 py-0.5">
<div className="truncate w-full">{key}</div>
</th>
<td className="py-0.5">
<pre className="whitespace-nowrap font-mono">{value}</pre>
</td> */
